# Copyright (c) 2010 __Ricoh Company Ltd.__. All rights reserved.

# Python logging configuration for modules that run in the "launcher" process.

[loggers]
keys=root,launcher,launcher_daemon,launcher_main,dec_runner,dec_main,library_operations

[handlers]
keys=launcher_handler

[formatters]
keys=launcher_formatter

[logger_root]
level=NOTSET
handlers=launcher_handler

[logger_launcher]
level=DEBUG
handlers=
propagate=1
qualname=launcher

[logger_launcher_daemon]
level=DEBUG
handlers=
propagate=1
qualname=launcher.launcher_daemon

[logger_launcher_main]
level=DEBUG
handlers=
propagate=1
qualname=launcher.launcher_main

[logger_dec_runner]
level=DEBUG
handlers=
propagate=1
qualname=launcher.dec_runner

[logger_dec_main]
level=DEBUG
handlers=
propagate=1
qualname=launcher.dec_main

[logger_library_operations]
level=DEBUG
handlers=
propagate=1
qualname=launcher.library_operations

[handler_launcher_handler]
class=StreamHandler
level=NOTSET
formatter=launcher_formatter
args=(sys.stderr,)

[formatter_launcher_formatter]
format=%(asctime)s %(name)s %(levelname)s %(message)s
datefmt=
class=logging.Formatter
